.nav{
    margin-top:20px;
}
.typo{
    background-color:white;
    color:black;
}
.content{
    background-color:black;
}

.typo1{
    color:white;
}
.card_button{
    background-color:blue;
    color:white;
    padding:10px;
}

