.app {
  max-width: 800px;
  margin: 0 auto;
  
}

.search {
  margin-bottom: 20px;
  display:flex;
  
  justify-content:space-between;
}
.Icon{
  display:flex;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
}

.cart {
  margin-top: 50px;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}